
.dropdown-item {
    color: black;
    font-family: Papyrus, fantasy;
}

.nav-link {
    color: white;
    font-family: Papyrus, fantasy;
}

.dropdown-menu {
    background-color: black;
}

.carousel-item img {
    height: 550px;
    width: 800px;
}

#About-section {
    font-family: Papyrus, fantasy;
    background-color: black;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
}

