
.dropdown-item {
    color: black;
    font-family: Papyrus, fantasy;
}

.nav-link {
    color: white;
    font-family: Papyrus, fantasy;
    font-size: 18px;
}

.dropdown-menu {
    background-color: black;
}

.nav {
    padding-right: 25px;
}

.carousel-item img {
    height: 550px;
    width: 800px;
}

<<<<<<< HEAD
.footer {
    background-color: black;
}

.footer #masthead {
    font-size: 10px;
    color: white;
    align-content: center;
}

.footer-links p a {
    font-family: Calibri;
    color: white;
}

.footer-links p {
    color:ghostwhite;
=======
#About-section {
    font-family: Papyrus, fantasy;
    background-color: black;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 28px;
>>>>>>> master
}