.nav-item {
    font-family: Papyrus, fantasy;
    color: green;
    font-size: 18px;
}

.navbar-nav {
    color: blue;
}

.dropdown-menu {
    background-color: black;
}

.carousel-item img {
    height: 450px;
    width: 800px;
}

.footer {
    padding: 10px;
    padding-top: 40px;
    background-color: #c92230;
}

.copyright p {
    padding-left: 30px;
}

.masthead p {
    font-size: 15px;
}

.footer-links {
    float: right;
    text-align: center;
}

.footer-links p a {
    align-content: right;
    font-family: Calibri;
    color: black;
    text-align: right;
}
    
#About-section {
    font-family: Papyrus, fantasy;
    background-color: black;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 28px;
}

.gallery {
    background-color: black;
    padding-bottom: 100px;
}

.gallery-container {
    padding-left: 100px;
    padding-right: 100px;
}

.gallery-picture {
    display: block;
    margin: auto;
    height: 500px;
    padding-top: 30px;
}

.parallax-gallery {
    
}